{% extends 'mainapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
        {% if price %}
        <h3>{{ price }}</h3>
        {% else %}
        <h3>Waiting for result...</h3>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <select class="form-select" name="crypto_cur">
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="DOGE">DOGE</option>
                <option value="USDT">USDT</option>
                <option value="LTC">LTC</option>
                <option value="LUNA">LUNA</option>
            </select>
            <br>
            <button class="btn btn-dark my-4" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}