asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.10
Django==3.2.7
ffmpeg==1.4
ffmpeg-python==0.2.0
forex-python==1.8
future==0.18.2
idna==3.3
location==0.0.7
Pillow==8.4.0
pydub==0.25.1
pytz==2021.3
requests==2.27.1
simplejson==3.17.6
sqlparse==0.4.2
urllib3==1.26.8
