{% extends 'mainapp/base.html' %}

{% block content %}
<div class="row">
    {% if file_url %}
    <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
        <a class="btn btn-dark my-4" href="{{ file_url }}">Download file</a>
        {% else %}
        <form method="post" enctype="multipart/form-data">
            {% if extension_error %}
            <div class="alert red-alert" role="alert">
                Unknown file extension. Please choose an audio file.
            </div>
            {% endif %}
            {% csrf_token %}
            <input type="file" name="upload" accept=".wav, .mp3, .ogg">
            <br>
            <select name="convert_to">
                <option value=".wav">WAV</option>
                <option value=".mp3">MP3</option>
                <option value=".ogg">OGG</option>
            </select>
            <br>
            <button class="btn btn-dark my-4" type="submit">Submit</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}