{% extends 'mainapp/base.html' %}

{% block content %}
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Title</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for image in object_list %}
        <tr>
            <td scope="row">{{ image.id }}</td>
            <td>{{ image.image_file }}</td>
            <td><a target="_blank" class="btn btn-primary" href="/media/{{ image.image_file }}" role="button">Download</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}