{% extends 'mainapp/base.html' %}

{% block content %}
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Title</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for video in object_list %}
        <tr>
            <td scope="row">{{ video.id }}</td>
            <td>{{ video.video_file }}</td>
            <td><a target="_blank" class="btn btn-primary" href="/media/{{ video.video_file }}" role="button">Download</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}